<!DOCTYPE html>
<html lang="zh" ng-app="sqkjApp" ng-controller="sqkjCtrl">
<head>
  <meta charset="UTF-8">
  <title>拾起科技</title>
  <link rel="stylesheet" href="shiqikeji.css">
  <script src="angular.min.js"></script>
  <script src="shiqikeji.js"></script>
</head>
<body>
  <div class="top align-center">
    <a href="" class="logo align-center">拾起科技</a>
    <div class="nav">
      <a href="#" class="nav-item">链接</a>
      <a href="#" class="nav-item">链接</a>
      <a href="#" class="nav-item">链接</a>
      <a href="#" class="nav-item">链接</a>
    </div>
  </div>
  <div class="section-carousel">
    <div class="carousel">
      <div class="carousel-items" style="width:{{carousel.acts.length*100}}vw;transform:translateX({{-carousel.currentAct*100}}vw)">
        <div class="carousel-item" ng-repeat="act in carousel.acts" style="background-image:url({{act.background}})"></div>
      </div>
      <div class="carousel-sliders">
        <div ng-repeat="act in carousel.acts" class="carousel-slider {{carousel.isActive($index)}}" ng-click="carousel.runTo($index)"></div>
      </div>
      <div class="carousel-arrows">
        <div class="carousel-arrow left" ng-click="carousel.runPrevious()"></div>
        <div class="carousel-arrow right" ng-click="carousel.runNext()"></div>
      </div>
    </div>
  </div>
  <div class="cards">
    <div class="card product">
      <img src="product-card.jpg" alt="">
    </div>
    <div class="card product">
      <img src="product-card.jpg" alt="">
    </div>
    <div class="card product">
      <img src="product-card.jpg" alt="">
    </div>
    <div class="card product">
      <img src="product-card.jpg" alt="">
    </div>
  </div>
  <div class="footer">
    <div class="wrapper">
      <div class="row">
        <div class="col">
          <dl>
            <dt>下载</dt>
            <dd><a href="#">快乐十分</a></dd>
            <dd><a href="#">11选5</a></dd>
            <dd><a href="#">今知商城</a></dd>
          </dl>
          <dl>
            <dt>快速入口</dt>
            <dd><a href="#">登陆</a></dd>
          </dl>
        </div>
      </div>
      <div class="row info">
        <div class="col left">
          <p>备案信息</p>
          <p>云南拾起电子商务有限公司 版权信息</p>
        </div>
        <div class="col contact align-center">
          <p class="tel"><span>0871 - </span>65899821</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
